In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics
import feather

In [3]:
import seaborn as sns
plt.style.use('fivethirtyeight')

In [4]:
PATH = "excel/Hostel.csv"

In [6]:
df = pd.read_csv(PATH)

In [7]:
df.head(4)

,Unnamed: 0,hostel.name,City,price.from,Distance,summary.score,rating.band,atmosphere,cleanliness,facilities,location.y,security,staff,valueformoney,lon,lat
0,1,"""Bike & Bed"" CharinCo Hostel",Osaka,3300,2.9km from city centre,9.2,Superb,8.9,9.4,9.3,8.9,9.0,9.4,9.4,135.513767,34.682678
1,2,& And Hostel,Fukuoka-City,2600,0.7km from city centre,9.5,Superb,9.4,9.7,9.5,9.7,9.2,9.7,9.5,NaN,NaN
2,3,&And Hostel Akihabara,Tokyo,3600,7.8km from city centre,8.7,Fabulous,8.0,7.0,9.0,8.0,10.0,10.0,9.0,139.777472,35.697447
3,4,&And Hostel Ueno,Tokyo,2600,8.7km from city centre,7.4,Very Good,8.0,7.5,7.5,7.5,7.0,8.0,6.5,139.783667,35.712716

In [8]:
df.columns

Index(['Unnamed: 0', 'hostel.name', 'City', 'price.from', 'Distance',
       'summary.score', 'rating.band', 'atmosphere', 'cleanliness',
       'facilities', 'location.y', 'security', 'staff', 'valueformoney', 'lon',
       'lat'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 16 columns):
Unnamed: 0       342 non-null int64
hostel.name      342 non-null object
City             342 non-null object
price.from       342 non-null int64
Distance         342 non-null object
summary.score    327 non-null float64
rating.band      327 non-null object
atmosphere       327 non-null float64
cleanliness      327 non-null float64
facilities       327 non-null float64
location.y       327 non-null float64
security         327 non-null float64
staff            327 non-null float64
valueformoney    327 non-null float64
lon              298 non-null float64
lat              298 non-null float64
dtypes: float64(10), int64(2), object(4)
memory usage: 42.8+ KB